<div class="container">
  <div class="row">
    <div class="col-sm-4">

    <h2>Edit <%= resource_name.to_s.humanize %> <span class="badge"> <%= account_type_label %></span></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= image_tag User.gravatar_url(current_user, 100), class: "gravatar profile-pic" %>
      </div>

      <div class="form-group">
        Want to change your profile picture? This site uses <a href="https://en.gravatar.com/">Gravatar</a>.
      </div>

      <div class="form-group">
        <%= f.label :name %><br />
        <%= f.text_field :name, class: "form-control", autofocus: true %>
      </div>

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: "form-control" %>
      </div>

      <div class="form-group">
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label :password %> <br />Leave blank if you don't want to change it.<br />
        <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
      </div>

      <div class="form-group">
        <%= f.label :current_password %><br />We need your current password to confirm your changes.<br />
        <%= f.password_field :current_password, class: "form-control", autocomplete: "off" %>
      </div>

      <div class="form-group">
        <%= f.submit "Update", class: "btn btn-success"  %>
        <%= link_to "Cancel", :back, class: "btn btn-default" %>
      </div>

    <% end %>

    <div class="form-group">
      <% if current_user.premium? %>
        <%= button_to "Downgrade my account", downgrade_charge_path, data: { confirm: "Warning! Switching to a standard account will convert your private wikis to public.  Are you sure?" }, method: :get, class: "btn btn-danger"  %>
      <% else %>
        <%= button_to "Upgrade my account", new_charge_path, method: :get, class: "btn btn-success"  %>
      <% end %>
    </div>

    <div class="form-group">
      <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger"  %>
    </div>

  </div>
</div>
