<h1>Edit Wiki <span class="small"><%= privacy_label(@wiki_entry.private) %></span></h1>


<div class="row">
  <div class="col-lg-6">
    <%= form_for @wiki_entry do |f| %>
      <div class="form-group">
        <label><%= f.label :title %></label>
        <%= f.text_field :title, class: 'form-control', placeholder: "Enter wiki title" %>
      </div>
      <div class="form-group">
        <label><%= f.label :body %></label>
        <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter wiki body" %>
      </div>
      <% if is_authorized_for_premium %>
        <div class="form-group">
            <label><%= f.label :private, class: 'checkbox' do %></label>
            <%= f.check_box :private %> Private wiki
          <% end %>
        </div>
     <% end %>
      <div class="form-group">
         <%= link_to "Cancel", wiki_entries_path, class: 'btn btn-default' %>
        <%= f.submit "Save", class: 'btn btn-success' %>
      </div>
      <% if is_authorized_for_premium && @wiki_entry.private %>
        <div class="form-group">
           <%= link_to "Collaborators", wiki_entry_collaborators_path(@wiki_entry.id), class: 'btn btn-success' %>
        </div>
      <% end %>
    <% end %>

    </div>
  </div>
  <div class="col-lg-6">
    <label>Preview</label>
    <div class = "well">
      <h1><%= @wiki_entry.title %></h1>
      <%= markdown @wiki_entry.body %>
    </div>
 </div>
</div>
